<nav>
    <!-- <li><a href="/base_requester/">Requester</a></li> -->
    <div class="dropdown">
        <button class="dropbtn">
            <li><a href="/base_requester/">Requester</a></li>
        </button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Maintainer</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtn">Auditor</button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
    </div>
    <li><a href="/base_maintainer/">Maintainer</a></li>
    <li><a href="/base_auditor/">Auditor</a></li>



</nav>