<nav>
    <!-- <li><a href="/base_requester/">Requester</a></li> -->
    <div class="dropdown">
        <button class="dropbtnm">
            <li><a href="/base_requester/">Requester</a></li>
        </button>
        <div class="dropdown-content">
            <a href="/requester_requests/">Requests</a>
            <a href="/requester_messages/">Messeges</a>
            <a href="/requester_inventory/">Inventory</a>
            <a href="/requester_profile/">Profile</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtnm">
            <li><a href="/base_maintainer/">Maintainer</a></li>
        </button>
        <div class="dropdown-content">
            <a href="/maintainer_requests/">Requests</a>
            <a href="/maintainer_hard_drives/">Hard Drives</a>
            <a href="/maintainer_messages/">Messeges</a>
            <a href="/maintainer_reports/">Reports</a>
            <a href="/maintainer_configurations/">Configurations</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtnm">
            <li><a href="/base_auditor/">Auditor</a></li>
        </button>
        <div class="dropdown-content">
            <a href="/auditor_hard_drives/">Hard Drive</a>
            <a href="/auditor_messages/">Messeges</a>
            <a href="/auditor_reports/">Reports</a>
        </div>
    </div>
    <div class="dropdown">
        <button class="dropbtnm">
            <li><a href="/requester_profile/">Profile</a></li>
        </button>
    </div>
    <!-- <li><a href="/base_maintainer/">Maintainer</a></li>
    <li><a href="/base_auditor/">Auditor</a></li>
 -->


</nav>