{% extends 'pages/base.html'%}
{% load static %}

{% block navbar %}
{% include 'pages/navbar_requester.html' %}
{% endblock %}

{% block mainBody %}
<section class="hero">
    <p style="text-align:center;">Requester: {{request.user}} <a href="{% url 'logoutUser' %}"><span
            style="color:rgba(201, 219, 10, 0.9);">[Logout]</span></a></p>
    <div class="background-image" style="background-image: url({% static 'assets/img/call_of_duty.jpg' %}); background-repeat: no-repeat; background-attachment: fixed; background-size: cover;"></div>
    <h1>Requester-Requests Detailed View</h1>
    <h3>Hard Drive Tracking System</h3>

	<script type="text/javascript" language="javascript" src="
         http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js">
	</script>
      <script>
         $(document).ready(function($) {
             // Check All
             $('.checkall').click(function() {
                 $(":checkbox").attr("checked", true);
             });
             // Uncheck All
             $('.uncheckall').click(function() {
                 $(":checkbox").attr("checked", false);
             });
         });
      </script>

    <!--Abel-->
    <!--Search content area-->
	<form style="text-align: left; width: 100%;"></style>
			<h1 style="color: grey; font-size: 30px;">Request Information</h1>
			<h1 style="color: rgba(201, 219, 10, 0.9); font-size: 25px;">Request Attribute</h1>
			<label for "Request Reference No.">Request Reference No.</label><br>
			<input type="text" id="Request Reference No." name="Request Reference No."><br>
			<br>
			<label for "Request Status">Request Status</label><br>
			<select name="Request Status" id="Request Status">
				<option value="Confirmed">Confirmed</option>
				<option value="Unconfirmed">Unconfirmed</option>
			</select><br>
			<br>
			<h1 style="color: rgba(201, 219, 10, 0.9); font-size: 25px;">Hard Drive Attribute</h1>
			<label for "Total No. of Drives">Total No. of Drives</label><br>
			<input type="radio" id="Less than" name="No. of Drives" value="Less than">
			<label for="Less than">Less than</label><br>
			<input type="radio" id="Equal" name="No. of Drives" value="Equal">
			<label for="Equal">Equal</label><br>
			<input type="radio" id="Greater than" name="No. of Drives" value="Greater than">
			<label for="Greater than">Greater than</label><br>
			<br>
			<h1 style="color: rgba(201, 219, 10, 0.9); font-size: 25px;">Event Attribute</h1>
			<label for "Username">Username</label><br>
			<input type="text" id="Username" name="Username"><br>
			<br>
			<label for "Event Type">Event Type</label><br>
			<select name="Event Type" id="Event Type">
				<option value="Training">Training</option>
			</select><br>
			<br>
			<h1 style="color: rgba(201, 219, 10, 0.9); font-size: 25px;">Date</h1>
			<label for="Event Start Date">Event Start Date</label><br>
			<input type="date" id="Event Start Date" name="Event Start Date"><br>
			<br>
			<label for="Event End Date">Event End Date</label><br>
			<input type="date" id="Event End Date" name="Event End Date"><br>
			<br>
			<label for="Request Date">Request Date</label><br>
			<input type="date" id="Request Date" name="Request Date"><br>
			<br>
			<label for="Need Drive Due by Date">Need Drive Due by Date</label><br>
			<input type="date" id="Need Drive Due by Date" name="Need Drive Due by Date"><br>
			<br>
			<h1 style="color: rgba(201, 219, 10, 0.9); font-size: 25px;">Keyword</h1>
			<label for "Expression">Expression</label><br>
			<input type="text" id="Expression" name="Expression"><br>
			<br>
			<br>
			<input type="submit" value="Search" style="font-size: 25px;">
			<br>
			<br>
			<br>
			<!--Abel-->
            <!--Collapsible Detailed View of a Selected Request content area-->
			<h1 style="color: grey; font-size: 30px;">Event Information</h1>
			<h1 style="color: rgba(201, 219, 10, 0.9); font-size: 25px;">Event Attributes</h1>
			<label for "Event Name">Event Name</label><br>
			<input type="text" id="Event Name" name="Event Name"><br>
			<br>
			<label for "Event Description">Event Description</label><br>
			<input type="text" id="Event Description" name="Event Description"><br>
            <input type="file" id="Event Description" style="margin-left: 0.5px;" name="Event Description"><br>
			<br>
			<label for "Event Location">Event Location</label><br>
			<input type="text" id="Event Location" name="Event Location"><br>
			<br>
			<label for "Event Type">Event Type</label><br>
			<select name="Event Type" id="Event Type">
				<option value="Data Training">Data Training</option>
			</select><br>
			<br>
			<label for "Length of Reporting Cycle">Length of Reporting Cycle</label><br>
			<input type="text" id="Length of Reporting Cycle" name="Length of Reporting Cycle"><br>
			<br>
			<label for "Event Status">Event Status</label><br>
			<select name="Event Status" id="Event Status">
				<option value="Confirmed">Confirmed</option>
			</select><br>
			<br>
			<h1 style="color: rgba(201, 219, 10, 0.9); font-size: 25px;">Event Dates</h1>
			<label for="Event Start Date">Event Start Date</label><br>
			<input type="date" id="Event Start Date" name="Event Start Date"><br>
			<br>
			<label for="Event End Date">Event End Date</label><br>
			<input type="date" id="Event End Date" name="Event End Date"><br>
			<br>
			<h1 style="color: rgba(201, 219, 10, 0.9); font-size: 25px;">Event Participants</h1>
			<label for "Event Team Lead Name*">Event Team Lead Name*</label><br>
			<select name="Event Team Lead Name*" id="Event Team Lead Name*">
				<option value="DataMan7711">DataMan7711</option>
			</select><br>
			<br>
			<label for "Event Team Analyst Name">Event Team Analyst Name</label><br>
			<select name="Event Team Analyst Name" id="Event Team Analyst Name">
				<option value="AnalystMan7711">AnalystMan7711</option>
				<option value="AnalyzeDataDude7711">AnalyzeDataDude7711</option>
			</select><br>
		</form>
		<br>
		<br>
        <!--Abel-->
        <!--Request Information content area-->
		<form style="margin-right: -450px; margin-top: -1750px; width: 70%;">
			<h1 style="color: rgba(201, 219, 10, 0.9); font-size: 25px;">Summary View of Requests</h1>
			<style>
				table,
				th,
				td {
					border: 1px solid black;
					border-collapse: collapse;
					table-layout: fixed;
				}
			</style>

			<body>
				<input type="checkbox" id="Select/Unselect All" class = "checkall" name="Select/Unselect All">
				<label for "Select/Unselect All">Select/Unselect All</label> <input type="checkbox" id="Select/Unselect All" class = "uncheckall" name="Select/Unselect All">
				<table style="width: 100%;">
					<tr>
						<th><input type="checkbox" id="Request Reference No." name="Request Reference No."> Request Reference No.</th>
						<td>774369</td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Request Date" name="Request Date"> Request Date</th>
						<td>3/1/2022</td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Event Start Date" name="Event Start Date"> Event Start Date</th>
						<td>3/7/2022</td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Event End Date" name="Event End Date"> Event End Date</th>
						<td>3/17/2022</td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Need Drive Due by Date" name="Need Drive Due by Date"> Need Drive Due by Date</th>
						<td>3/20/2022</td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Event Name" name="Event Name"> Event Name</th>
						<td>Training</td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Event Description" name="Event Description"> Event Description</th>
						<td>Scan data for Military Training</td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Event Type" name="Event Type"> Event Type</th>
						<td>Data Training</td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Event Lead Username" name="Event Lead Username">Event Lead Username</th>
						<td>DataMan7711</td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Total No. of Drives" name="Total No. of Drives">Total No. of Drives</th>
						<td>Less than</td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Request Status" name="Request Status"> Request Status</th>
						<td>Confirmed</td>
					</tr>
				</table>
			</body>
			<input type="submit" value="Clone Request" style="font-size: 20px;">
			<a href="request"><input type="button" value="Add Request" style="font-size: 20px;"
					class="btn btn-primary" /></a><br>
			<br>
			<br>
			</style>


            <!--From here and out its yours Bryant-->
            <br>
            <br>
			<br>
			<br>
			<form style="text-align: center; width: 100%;">
				<h1 style="color: rgba(201, 219, 10, 0.9); font-size: 30px;">Hard Drive Request</h1>
				<style>
					table,
					th,
					td {
						border: 1px solid black;
						border-collapse: collapse;
						table-layout: fixed;
					}
				</style>
				<body><!--Hard Drive Request-->>
					<input type="checkbox" id="Select/Unselect All" class = "checkall" name="Select/Unselect All">
					<label for "Select/Unselect All">Select/Unselect All</label> <input type="checkbox" id="Select/Unselect All" class = "uncheckall" name="Select/Unselect All">
					<table style="width: 100%;">
						<tr><!--Classification-->
							<th><input type="checkbox" id="Hard Drive Classification" name="Hard Drive Classification">Hard Drive Classification</th>
							<td><select name=”subject”>
								<option value=”Classified”>Classified</option>
								<option value=”Non-Classified”>Non-Classified</option>
								</select></td>
						</tr>
						<tr><!--Ammount-->
							<th><input type="checkbox" id="Amount Required*" name="Amount Required*"> Amount Required*</th>
							<td><select name=”subject”>
								<option value=”5”>5</option>
								<option value=”10”>10</option>
								<option value=”15”>15</option>
								<option value=”20”>20</option>
								<option value=”25”>25</option>
								<option value=”30”>30</option>
								<option value=”35”>35</option>
								<option value=”40”>40</option>
								</select></td>
						</tr>
						<tr><!--Connection port-->
							<th><input type="checkbox" id="Connection Port Type" name="Connection Port Type"> Connection Port Type</th>
							<td><select name=”subject”>
								<option value=”Zeta”>Zeta</option>
								<option value=”M2”>M2</option>
								</select></td>
						</tr>
						<tr><!--Hard drive size-->
							<th><input type="checkbox" id="Hard Drive Size" name="Hard Drive Size"> Hard Drive Size</th>
							<td><select name=”subject”>
								<option value=”500MB”>500MB</option>
								<option value=”1TB”>1TB</option>
								</select></td>
						</tr>
						<tr><!--Hard drive type-->
							<th><input type="checkbox" id="Hard Drive Type" name="Hard Drive Type"> Hard Drive Type</th>
							<td><select name=”subject”>
								<option value=”SlowHardDrive”>Slow Hard Drive</option>
								<option value=”FastHardDrive”>Fast Hard Drive </option>
								<option value=”Low-Capacity-drive”>Low-Capacity-drive </option>
								<option value=”High-Capacity-drive”>High-Capacity-drive </option>
								</select></td>
						</tr>
					</table>
				</body>
				<br>
				<label for "Comments">Comments</label><br>
				<textarea rows="4" cols="50" name="comment" form="usrform">Enter text here...</textarea><br>
				<input type="submit" value="Add" style="font-size: 15px; margin-left: 280px;">
				<input type="submit" value="Delete" style="font-size: 15px;">
				<br>
				<br>
				<br>
				<br>
            	<br>
				<br>
				<br>
				<br>
				<form style="text-align: center; width: 100%;">
					<h1 style="color: rgba(201, 219, 10, 0.9); font-size: 30px;">Hard Drive Assignment (Requestors only)</h1>
					<style>
						table,
						th,
						td {
							border: 1px solid black;
							border-collapse: collapse;
							table-layout: fixed;
						}
					</style>
		
				<body><!---->
				<input type="checkbox" id="Select/Unselect All" class = "checkall" name="Select/Unselect All">
				<label for "Select/Unselect All">Select/Unselect All</label> <input type="checkbox" id="Select/Unselect All" class = "uncheckall" name="Select/Unselect All">
				<table style="width: 105%">
					<tr>
						<th><input type="checkbox" id="Issue Date" name="Issue Date"> Issue Date</th>
						<td><input type="date"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Modified Date" name="Modified Date"> Modified Date</th>
						<td><input type="date"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Request Reference" name="Request Reference"> Request Reference</th>
						<td><input type="text"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Hard Drive Serial Number" name="Hard Drive Serial Number"> Hard Drive Serial Number</th>
						<td><input type="text"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Hard Drive Status" name="Hard Drive Status"> Hard Drive Status</th>
						<td><input type="text"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Manufacturer" name="Manufacturer"> Manufacturer</th>
						<td><input type="text"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Model No." name="Model No."> Model No.</th>
						<td><input type="text"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Hard Drive Classification" name="Hard Drive Classification"> Hard Drive Classification</th>
						<td><input type="text"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Hard Drive Connection Port" name="Hard Drive Connection Port"> Hard Drive Connection Port</th>
						<td><input type="text"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Hard Drive Size" name="Hard Drive Size"> Hard Drive Size</th>
						<td><input type="text"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Hard Drive Type" name="Hard Drive Type"> Hard Drive Type</th>
						<td><input type="text"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Expected Hard Drive Return Date" name="Expected Hard Drive Return Date"> Expected Hard Drive Return Date</th>
						<td><input type="date"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Justification for Expected Hard Drive Return Date Change" name="Justification for Expected Hard Drive Return Date Change"> Justification for Expected Hard Drive Return Date Change</th>
						<td><input type="text"></td>
					</tr>
					<tr>
						<th><input type="checkbox" id="Actual Hard Drive Return Date" name="Actual Hard Drive Return Date"> Actual Hard Drive Return Date</th>
						<td><input type="date"></td>
					</tr>
				</table>
			</body>
<input type="submit" value="Confirm Pickup" style="font-size: 20px;"><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<form style="text-align: center; width: 100%;"><!--Hard Drive assignment for maintainer-->
	<h1 style="color: rgba(201, 219, 10, 0.9); font-size: 30px;">Hard Drive Assignment (Maintainers only)</h1>
	<style>
		table,
		th,
		td {
			border: 1px solid black;
			border-collapse: collapse;
			table-layout: fixed;
		}
	</style>
<body>
<input type="checkbox" id="Select/Unselect All" class = "checkall" name="Select/Unselect All">
<label for "Select/Unselect All">Select/Unselect All</label> <input type="checkbox" id="Select/Unselect All" class = "uncheckall" name="Select/Unselect All">
<table style="width: 100%;">
	<tr>
		<th><input type="checkbox" id="Creation Date" name="Creation Date"> Creation Date</th>
		<td><input type="date" style="width: 50%;"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Hard Drive Serial Number" name="Hard Drive Serial Number"> Hard Drive Serial Number</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Manufacturer" name="Manufacturer"> Manufacturer</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Model No." name="Model No."> Model No.</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Hard Drive Type" name="Hard Drive Type"> Hard Drive Type</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Hard Drive Connection Port" name="Hard Drive Connection Port"> Hard Drive Connection Port</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Hard Drive Size" name="Hard Drive Size"> Hard Drive Size</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Hard Drive Classification" name="Hard Drive Classification"> Hard Drive Classification</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Justification for Hard Drive Classification Change" name="Justification for Hard Drive Classification Change"> Justification for Hard Drive Classification Change</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Image Version ID" name="Image Version ID"> Image Version ID</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Boot Test Status" name="Boot Test Status"> Boot Test Status</th>
		<td><input type="text"; width="10%"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Boot Test Experation Date" name="Boot Test Experation Date"> Boot Test Experation Date</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Hard Drive Status" name="Hard Drive Status"> Hard Drive Status</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Justification for Status Change" name="Justification for Status Change"> Justification for Status Change</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Issue Date" name="Issue Date"> Issue Date</th>
		<td><input type="date"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Expected Hard Drive Return Date" name="Expected Hard Drive Return Date"> Expected Hard Drive Return Date</th>
		<td><input type="date"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Justification for Hard Drive Return Date Change" name="Justification for Hard Drive Return Date Change"> Justification for Hard Drive Return Date Change </th>
		<td><input type="date"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Actual Hard Drive Return Date" name="Actual Hard Drive Return Date"> Actual Hard Drive Return Date</th>
		<td><input type="date"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Request Reference" name="Request Reference"> Request Reference</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Modifier" name="Modifier"> Modifier</th>
		<td><input type="text"></td>
	</tr>
	<tr>
		<th><input type="checkbox" id="Modified Date" name="Modified Date"> Modified Date</th>
		<td><input type="date"></td>
	</tr>
</table>
</body>
<input type="submit" value="Add" style="font-size: 20px;">
<input type="submit" value="Delete" style="font-size: 20px;"><br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<input type="submit" value="Save" style="font-size: 25px;">
<input type="submit" value="Cancel" style="font-size: 25px;">
</section>

{% endblock %}

