{% extends 'pages/base.html' %}
{% load static %}

{% block navbar %}
{% include 'pages/navbar_requester.html' %}
{% endblock %}

{% block mainBody %}
<section class="hero">
    <p style="text-align:center;">Requester: {{request.user}} <a href="{% url 'logoutUser' %}"><span
        style="color:rgba(201, 219, 10, 0.9);">[Logout]</span></a></p>
    <div class="background-image" style="background-image: url({% static 'assets/img/island.jpg' %});"></div>
    <h1>Inventory</h1>
    <h3>Hard Drive Tracking System</h3>
    Classified Drive Inventory<br>
    <canvas id="classChart" width="30%" height="10%"></canvas>
    <script>
        $(document).ready(function(){
            var ctx = document.getElementById('classChart').getContext('2d');
            var classChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Available', 'Unavailable'],
                    datasets: [{
                        label: 'Classified Drive Availability',
                        data: {{c_data}},
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 99, 132, 0.2)', 
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                        }
                    }
                }
            });
        });
    </script>
    <br>Unclassified Drive Inventory<br>
    <canvas id="unclassChart" width="30%", height="10%"></canvas>
    <script>
        $(document).ready(function(){
            var ctx = document.getElementById('unclassChart').getContext('2d');
            var unclassChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: ['Available', 'Unavailable'],
                    datasets: [{
                        label: 'Unclassified Drive Availability',
                        data: {{u_data}},
                        backgroundColor: [
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 99, 132, 0.2)', 
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 99, 132, 1)',
                        ],
                        borderWidth: 1,
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                        }
                    },
                }
            });
        });
    </script>
    <br>Hard Drives<br>
    {% for hard_drive in hard_drives %}
    {{hard_drive}}<br>
    {% endfor %}
    <form style="text-align: left; width: 100%;"></style>
        <h1 style="color: white; font-size: 30px;">Inventory Search</h1>
        <h1 style="color: white; font-size: 25px;">Date</h1>
        <label for "Issue Date">Issue Date</label><br>
        <input type="date" id="Issue Date" name="Issue Date"><br>
        <br>
        <label for "Modified Date">Modified Date</label><br>
        <input type="date" id="Modified Date" name="Modified Date"><br>
        <br>
        <label for "Expected Hard Drive Return Date">Expected Hard Drive Return Date</label><br>
        <input type="date" id="Expected Hard Drive Return Date" name="Expected Hard Drive Return Date"><br>
        <br>
        <h1 style"color: white; font-size: 25px;">Hard Drive Attributes</h1>
        <label for "Hard Drive Serial No.">Hard Drive Serial No.</label><br>
        <input type="text" id="Hard Drive Serial No." name="Hard Drive Serial No."><br>
        <label for "Hard Drive Status">Hard Drive Status</label><br>
        <select name="Hard Drive Status" id="Hard Drive Status">
            <option value="Assigned">Assigned</option>
            <option value="Available">Available</option>
            <option value="End of Life">End of Life</option>
            <option value="Master Clone">Master Clone</option>
            <option value="Pending Wipe">Pending Wipe</option>
            <option value="Destroyed">Destroyed</option>
            <option value="Lost">Lost</option>
            <option value="Overdue">Overdue</option>
            <option value="Picked Up">Picked Up</option>
            <option value="Returned">Returned</option>
            <option value="Pending Change">Pending Change</option>
    </form>
</section>
{% endblock %}