{% extends 'pages/base.html' %}
{% load static %}

{% block navbar %}
{% include 'pages/navbar_requester.html' %}
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function(){
        var ctx = document.getElementById('ClassifiedChart').getContext('2d');
        var ClassifiedChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: ['Available', 'Unavailable'],
                datasets: [{
                    label: 'Availability',
                    data: [25, 10]
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    });
</script>
{% endblock %}

{% block mainBody %}
<section class="hero">
    <p style="text-align:center;">Requester: {{request.user}} <a href="{% url 'logoutUser' %}"><span
            style="color:rgba(201, 219, 10, 0.9);">[Logout]</span></a></p>
    <div class="background-image" style="background-image: url({% static 'assets/img/island.jpg' %});"></div>
    <h1>Inventory</h1>
    <h3>Hard Drive Tracking System</h3>
    Drive Inventory Charts<br>
    <canvas id="ClassifiedChart" width="400" height="400"></canvas>
    Hard Drives<br>

    {% for hard_drive in hard_drives %}
    {{hard_drive}}<br>
    {% endfor %}

</section>

{% endblock %}